Number of collections: 4
Win Condition: Either player has no cards
Number of players: 2
player1 = Player1
player2 = Player2
Player's collections: 1
Player hand size: 5

Number of piles: 2
pile1 = "draw"
facedown? Yes

pile2 = "discard"
facedown? No

Size of piles: 5, 5, 41, 1

Number of moves: 12
move1: 0, p1.hand, discard, "q"
move2: 1, p1.hand, discard, "w"
move3: 2, p1.hand, discard, "e"
move4: 3, p1.hand, discard, "r"
move5: 4, p1.hand, discard, "t"
move6: -1, draw, p1.hand, "a"
move7: 0, p2.hand, discard, "y"
move8: 1, p2.hand, discard, "o"
move9: 2, p2.hand, discard, "u"
move10: 3, p2.hand, discard, "i"
move11: 4, p2.hand, discard, "o"
move12: -1, draw, p2.hand, "p"